//
   Created by rizamasta on 5/12/15.
h3 Tambah Prestasi {{app.name}}
script
   |bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
.panel.panel-default.panel-flat
  .panel-body
   .col-md-12
      toaster-container(toaster-options="{'position-class': 'toast-top-right', 'close-button':true}")
      form(ng-submit="simpanPrestasi()", novalidate="",validate-form="true",ng-controller="prestasiController")
         .panel.panel-info
            .panel-heading Data Prestasi
            .panel-body
               table.table-responsive(width="100%")
                  tr
                     td(height="40") Nama Prestasi
                     td
                        .col-md-6
                           input.form-control(type="text",name="form.nama_prestasi",ng-model="formData.nama_prestasi",maxlength="50",ng-required="true")
                  tr
                     td(height="40") Tahun
                     td
                        .col-md-3
                           input.form-control(type="text",name="form.tahun",ng-model="formData.tahun",ng-required="true",maxlength="4",data-parsley-minlength="4",data-parsley-type="number")
                  tr(valign="top")
                     td(height="40") Keterangan
                     td
                        .col-md-12
                           textarea(style="resize:none;height:200px;width:700px;",ng-required="true")
            .panel-footer.text-right
               input.btn.btn-info(type="submit",value="Simpan")

