//
   Created by rizamasta on 5/12/15.
h3 Ubah User {{app.name}}

.panel.panel-default.panel-flat
  .panel-body
   .col-md-6
      toaster-container(toaster-options="{'position-class': 'toast-top-right', 'close-button':true}")
      form(ng-submit="submit()",novalidate="",validate-form="true",ng-controller="userChangeController")
         .panel.panel-info
            .panel-heading Data User
            .panel-body
               table.table.table-responsive(width="100%")
                  tr
                     td Username
                     td
                        input.form-control(type="text",name="form.username",ng-model="formData.username",readonly="true")
                  tr
                     td Real Name
                     td
                        input.form-control(type="text",name="form.realname",ng-model="formData.realname", ng-required="true",autocomplete="off")
                  tr
                     td New Password
                     td
                        input.form-control(type="password",name="form.password",ng-model="formData.password",ng-required="formData.valueRequire", ng-change="passwordPush()")
                  tr
                     td Retype New Password
                     td
                        input.form-control(type="password",name="form.password",ng-model="formData.password2",ng-required="formData.valueRequire", ng-change="passwordPush()")
            .panel-footer.text-right
               span(ng-show="formData.errorMsg")
                  .text-bold.text-danger {{formData.errorMsg}}
               input.btn.btn-info(type="submit",value="Ubah User")

