<!--Created by rizamasta on 5/12/15.-->
<h3>Ubah User {{app.name}}</h3>
<div class="panel panel-default panel-flat">
   <div class="panel-body">
      <div class="col-md-6">
         <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
         <form ng-submit="submit()" novalidate="" validate-form="true" ng-controller="userChangeController">
            <div class="panel panel-info">
               <div class="panel-heading">Data User</div>
               <div class="panel-body">
                  <table width="100%" class="table table-responsive">
                     <tr>
                        <td>Username</td>
                        <td>
                           <input type="text" name="form.username" ng-model="formData.username" readonly="true" class="form-control" />
                        </td>
                     </tr>
                     <tr>
                        <td>Real Name</td>
                        <td>
                           <input type="text" name="form.realname" ng-model="formData.realname" ng-required="true" autocomplete="off" class="form-control" />
                        </td>
                     </tr>
                     <tr>
                        <td>New Password</td>
                        <td>
                           <input type="password" name="form.password" ng-model="formData.password" ng-required="formData.valueRequire" ng-change="passwordPush()" class="form-control" />
                        </td>
                     </tr>
                     <tr>
                        <td>Retype New Password</td>
                        <td>
                           <input type="password" name="form.password" ng-model="formData.password2" ng-required="formData.valueRequire" ng-change="passwordPush()" class="form-control" />
                        </td>
                     </tr>
                  </table>
               </div>
               <div class="panel-footer text-right">
                  <span ng-show="formData.errorMsg">
                     <div class="text-bold text-danger">{{formData.errorMsg}}</div>
                  </span>
                  <input type="submit" value="Ubah User" class="btn btn-info" />
               </div>
            </div>
         </form>
      </div>
   </div>
</div>